body {
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #6c7279;
    background-color: #fff;
}


* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}


/* Container
===================*/
.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

.container7 {
    width: 100%;
    max-width: 1600px;
    height: 670px;
    margin: -65px auto;
    padding: 0 15px;
    background-color: #030303;
}

.container6 {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

.container5 {
    width: 100%;
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
}

.container1 {
    position: absolute;
    width: 345px;
    height: 400px;
    left: 40px;
    margin-top: 50px;

    background: #030303;
}

.container2 {
    width: 100%;
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 30px;
}


.container435 {
    width: 100%;
    height: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
    margin-bottom: 20px;

    overflow: hidden;
    display: grid;
    grid-template-areas:  "footer";
    grid-template-rows: auto 1fr auto;
    min-height: 80vh;
}

.container3 {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 30px;
}

.container4 {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__logo {
    margin-left: -10px;
    margin-top: 10px;
}


/* Header
===================*/

.header {
    width: 100%;
    height: 100px;
    background:  #030303;
    box-shadow: 0 4px 6px rgba(0,0,0,.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header.fixed {
    height: auto;

    position: fixed;

    background-color: #141414;
}

.header.fixed .header__inner {
    padding-top: -5px;
    padding-bottom: -5px;

    border-bottom: 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: -54px 0;
    margin-top: -5px;
}




/* Nav
===================*/

.nav {
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link {
    margin-left: 70px;

    color: rgb(255, 255, 255);
    text-decoration: none;
    opacity: .75;

    transition: opacity .1s linear;
}

.nav__link:hover {
    opacity: 1;
}


/* Intro
===================*/

.intro {
    display: flex;
    height: 790px;
    padding-top: 100px;
    margin-top: 100px;
    

    background: url("img/baner.jpg") center no-repeat;
    background-size: cover;
    
}

.intro__inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;

    text-align: center;
}

.intro__title {
    margin: 0 0 30px;

    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    line-height: 1.1;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    margin-left: -148px;
    margin-top: -10px;
}

.intro__subtitle {
    margin-bottom: 60px;

    font-size: 27px;
    color: #fff;
    line-height: 1.5;
    font-weight: 400;
    text-align: left;
    margin-left: -148px;
    margin-top: 240px;
}

.intro__subtitle1 {
    margin-bottom: 20px;

    font-size: 18px;
    color: #fff;
    line-height: 1.5;
    font-weight: 400;
    text-align: left;
    margin-left: -148px;
    margin-top: -27px;

}

.intro__subtitle2 {
    margin-bottom: 60px;

    font-size: 27px;
    color: #fff;
    line-height: 1.5;
    font-weight: 400;
    text-align: left;
    margin-left: -148px;
    margin-top: 10px;
}


/* Button
===================*/
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px;

    border-radius: 2px;
    border: 0;
    cursor: pointer;

    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
    opacity: .80;


    transition: background .1s linear;
    margin-left: -1085px;
}

.btn--red {
    background-color: #030303;
}

.btn--red:hover {
    background-color: #0f0f0f;
}

.btn--long {
    min-width: 280px;
}



/* Preimushchestva
===================*/

.preimushchestva {
    display: flex;
    flex-wrap: wrap;
    margin: 85px 0;
}

.preimushchestva__item {
    width: 33.33333%;
    padding: 0 40px;
    margin: 25px 0;

    text-align: center;
}

.preimushchestva__icon {
    margin-bottom: 25px;
}

.preimushchestva__title {
    margin-bottom: 20px;

    font-size: 14px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;
}

.preimushchestvas__text {
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
    
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: -54px 0;
    margin-left: 88px;
    margin-top: -20px;

}

.karta {
    margin-left: 400px;
    margin-top: 50px;
    margin-bottom: 95px;
}

.preim {
    text-align: center;
    font-size: 35px;
    color: #000000;
    margin-top: 85px;
    margin-bottom: -20px;

}

.preim1 {
    text-align: center;
    font-size: 35px;
    color: #ffffff;
    margin-top: 120px;
    padding-top: 55px;
    margin-bottom: -120px;

}

.preim2 {
    text-align: center;
    font-size: 35px;
    color: #000000;
    margin-top: 57px;
    margin-bottom: 140px;

}

.zagolovok_podzagolovok_content {
    position: relative;
    width: 100%;
    margin-top: 50px;
    margin-top: 170px;
}

.zagolovok {
    text-align: center;
    font-size: 35px;
    color: #000000;
    margin-top: -30px;
}

.podzagolovok {
    text-align: center;
    font-size: 20px;
    color: #000000;
    margin-top: 30px;
    margin-bottom: 55px;
}

.zagolovok1 {
    text-align: center;
    font-size: 35px;
    color: #000000;
    margin-top: -120px;
    margin-bottom: 25px;
}

.zagolovok2 {
    text-align: center;
    font-size: 35px;
    color: #000000;
    margin-top: 70px;
    margin-bottom: 80px;
}



.div1 {
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 5px;
}
   
.content {
    width: 99%;
    position: absolute;


    line-height: 2.5;

    height: 275px;
    left: 15px;

    font-style: normal;
    font-size: 20px;
    display: flex;

    color: #ffffff;
}

.content1 {
    width: 95%;
    position: absolute;
    
    line-height: 2.5;
    
    height: 275px;
    left: 15px;
    
    font-style: normal;
    font-size: 20px;
    display: flex;
    
    color: #ffffff;
}



/* Nomer
===================*/

.nomer-item {
    width: 380px; 
    height: 830px;
    text-align: center;
    margin: 0 auto;
    padding: 15px;
    border-bottom: 2px solid #F5F5F5;
    background: white;
    
    transition: .3s ease-in;
}

.nomer-item {
    background: white;
    display: inline-block;
    width: 380px; 
    height: 570px;
    margin: 30px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.nomer-item:hover {
    border-bottom: 2px solid #030303;
}

.nomer-item img {
    display: block;
    width: 100%;
}

.nomer-list {
    padding: 15px 0;
}

.nomer-list h3 {
    font-size: 18px;
    font-weight: 400;
    color: #444444;
    margin: 0 0 10px 0;
}



.item1 {
    margin-top: 40px;
}

.item2 {
    margin-top: 35px;
}


.price {
    font-size: 16px;
    color: #030303;
    display: block;
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 500;
}

.button {
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    background: #cccccc;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 28px;
    transition: .3s ease-in;
}

.nomer-item:hover .button {
    background: #030303;
}

.k2 {
    text-align: left;
    margin: 0 15px;
    line-height: 2.3;
    margin-bottom: 30px;
}

.k3 {
    margin-left: -135px;
    margin-top: 20px;
}




.img_1 {
    display: flex;
    margin-bottom: -70px;
}



/* Karusel
===================*/
.slideshow-container {
  max-width: 1050px;
  position: relative;
  margin: auto;
  top: 185px; 
}

.mySlides {
    display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 210px 2px;
  background-color: rgb(255, 255, 255);
  border-radius: 90%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}



/* Zayavka */
.decor {
    position: relative;
    max-width: 400px;
    margin: 50px auto 0;
    background: white;
    border-radius: 30px;
    background: #f0683f;
    margin-right: 100px;
    }

.circle {
    position: absolute;
    bottom: 80px;
    left: -55px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    }

.form-inner {
    padding: 50px;
    }

.form-inner input, .form-inner textarea {
    display: block;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    }

.form-inner input[type="submit"] {
    margin-top: 30px;
    background: #f69a73e3;
    border-bottom: 4px solid #d87d56;
    color: white;
    font-size: 14px;
    }

.form-inner textarea {
    resize: none;
    }

.form-inner h3 {
    margin-top: 0;
    font-weight: 500;
    font-size: 24px;
    color: #ffffff;
    }
    
h3 {
    margin-bottom: 10px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    }
    
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.4); 
    }
    
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; 
    padding: 25px;
    border: 1px solid #888;
    width: 40%; 
    margin-top: 260px ;
    }
    
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }
    
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    }

.img4 {
    margin-bottom: -690px;
    margin-left: 80px;
    width: 680px;
    height: 500px;
}

.k1 {
    color: rgb(255, 255, 255);
    text-align: center;
    padding-bottom: 20px;
}



/* Akkordeon
===================*/
.accordion {
    background-color: #eee;
    color: #444;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    cursor: pointer;
    padding: 25px;
    width: 990px;
    margin-left: 155px;
    text-align: center;
    margin-bottom: 10px;
    text-align: left;
    border: none;
    transition: 0.4s;
  }

  
.activee, .accordion:hover {
    background-color: #cccccce1;
  }
  
.panel {
    padding: 0 30px;
    background-color: white;
    display: none;
    margin-left: 148px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 990px;
    
  }

.accordion:after {
    content: '\02795'; /* Символ (+) */
    font-size: 13px;
    color: #444;
    float: right;
    margin-left: 5px;
    margin-top: 1px;
}

.activee:after1 {
  content: "\2796"; /* Символ (-) */
}

.zagolovok3 {
    text-align: center;
    font-size: 35px;
    color: #000000;
    margin-top: 100px;

}

/* Kompaniya
===================*/

.kompaniya {
    overflow: hidden;
    background-color: #030303;
}

.kompaniya__slider {
    height: 490px;
    overflow: hidden;
}

.kompaniya__slider.slick-initialized {
    height: auto;
}

.kompaniya__item {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.kompaniya__photo {
    width: 50%;
    height: 490px;
    position: relative;
}

.kompaniya__img {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;

    transform: translateY(-50%);
}

.kompaniya__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 80px;
}

.kompaniya__text {
    margin-bottom: -7px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    text-align: justify;
    font-size: 19px;
    line-height: 1.2;
    color: #fff;
}

.kompaniya__author {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}



.con{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.container_dil {
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
    
}


.container_dil .card .face.face1{
    position: relative;
    background: #030303;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}


.container_dil .card .face.face1 .contenttt h3{
    margin: 10px -10px 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    font-weight: 100;
}

.container_dil .card .face.face1 .contenttt p{
    margin-top: -30px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}


.container_dil .card .face{
    width: 300px;
    height: 200px;
}








/* Footer
===================*/

.footer {
    margin-top: -10px;
    background-color: #030303;
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 35px 0;
    height: 180px;
}

.footer__block {
    width: 33.33333%;
    padding: 0 15px;

    text-align: center;
}

.footer__title {
    margin-bottom: 10px;

    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.footer__address {
    margin-top: -24px;
    font-size: 14px;
    line-height: 1.5;
    font-style: normal;
    color: rgba(255, 255, 255, 0.671);
}

.footer__text {
    font-size: 14px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.671);
}

